.container {
    background-color: var(--bg);
    width: 30%;
    height: 50dvh;
    border-radius: 10px;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: var(--shadow-l);
}


.main {
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.authForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.authContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 30%;
    height: 90dvh;
}

.button {
    display: block;
    width: 100%;
    height: 10dvh;
    outline: none;
    text-decoration: none;
}

.formButton {
    display: block;
    width: 50%;
    height: 5dvh;
    outline: none;
    text-decoration: none;
    margin-top: 8%;
}

.input {
    margin-top: 5%;
    width: 80%;
}

.colorMode {
    height: 5dvh;
    width: 10%;
    border-radius: 99px;
    transition: 0.2s;
    cursor: pointer;
}

.colorMode:hover {
    background-color: var(--bg-hover);
    color: var(--text-hover);
    transition: 0.2s;
}