@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Source Code Pro", monospace;
    box-sizing: border-box;
}

body {
    background: var(--bg-mid);
    background-size: cover;
    background-position: center;
}

input {
    border-radius: 5px;
    background-color: var(--bg-light);
    height: 100%;
    width: 60%;
    padding: 10px;
    color: var(--text);
    box-shadow: var(--shadow-m);
    outline: none;
    border: none;
}

input::placeholder {
    color: var(--text-muted);
}

button {
    background-color: var(--bg-light);
    padding: 10px;
    border-radius: 8px;
    color: var(--text);
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: var(--shadow-m);
    border: none;
    display: flex;
    gap: 6px;
}

button:hover {
    color: var(--text-hover);
    background-color: var(--bg-hover);
    transition: 0.5s;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

a {
    color: var(--text);
}
header {
    height: 10dvh;
    width: 100%;
}
span {
    font-family: "Noto Sans", sans-serif;
}