.container {
    background-color: var(--bg);
    width: 70%;
    height: 80dvh;
    border-radius: 10px;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: var(--shadow-l);
    flex-direction: column;
}

.main {
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.taskForm {
    display: flex;
    gap: 5%;
    height: 10dvh;
    width: 100%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-mid);
    border-radius: 20px;
    box-shadow: var(--shadow-l);
}

.taskInput {
    width: 80%;
}

.taskList {
    width: 100%;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-align: left;
    padding: 8%;
    gap: 5%;
}

.task {
    font-weight: 500;
    font-size: 1.3em;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow-m);
    padding: 2%;
    border-radius: 20px;
    background-color: var(--bg-mid);
    gap: 15px;
}

.spanContainer {
    height: 30px;
    width: 30px;
    flex-shrink: 0;
}

.iconButton {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.colorMode {
    height: 5dvh;
    width: 10%;
    border-radius: 99px;
    transition: 0.2s;
    cursor: pointer;
}

.colorMode:hover {
    background-color: var(--bg-hover);
    color: var(--text-hover);
    transition: 0.2s;
}

.titleContainer {
    flex: 1;
    min-width: 0;
}

.dateContainer {
    flex-shrink: 0;
    display: flex;
    gap: 15px;
}