.container {
    background-color: var(--bg);
    width: 50%;
    height: 70dvh;
    border-radius: 10px;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: var(--shadow-l);
    flex-direction: column;
}

.main {
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form {
    display: flex;
    gap: 5%;
    height: 10dvh;
    width: 100%;
    padding: 5%;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light);
    border-radius: 20px;
}

.taskInput {
    width: 80%;
}

.taskList {
    width: 100%;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-align: left;
    padding: 8%;
}

.task {
    font-weight: 600;
    font-size: 1.3em;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    width: 5%;
    height: 50%;
    display: flex;
    box-shadow: none;
    background-color: var(--bg-light);
}

.span {
    height: 100%;
    width: 5%;
}

.spanIcon {
    height: 100%;
    width: 100%;
}