@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.container {
    background-color: transparent;
    width: 50%;
    height: 70dvh;
    border-radius: 10px;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    flex-direction: column;
}

.main {
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.taskForm {
    display: flex;
    gap: 5%;
    height: 10dvh;
    width: 100%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 20px;
}

.taskInput {
    width: 80%;
}

.taskList {
    width: 100%;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-align: left;
    padding: 5%;
    gap: 5%;
}

.task {
    font-weight: 500;
    font-size: 1.3em;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow-m);
    padding: 2%;
    border-radius: 20px;
    background-color: var(--bg-light);
    gap: 15px;
    transition: 0.3s;
    height: 7dvh;
    width: 100%;
}

.task:hover {
    box-shadow: var(--shadow-l);
    transition: 0.3s;
}

.spanContainer {
    height: 30px;
    width: 30px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkButton {
    height: 80%;
    width: 80%;
    cursor: pointer;
    transition: 0.3s;
}

.checkButton:hover {
    color: rgba(111, 255, 83, 0.904);
    transition: 0.3s;
}

.checkedButton {
    height: 80%;
    width: 80%;
    cursor: pointer;
    transition: 0.3s;
    stroke: rgba(71, 243, 37, 0.671);
}

.colorMode {
    height: 4dvh;
    width: 8%;
    border-radius: 99px;
    transition: 0.2s;
    cursor: pointer;
}

.colorMode:hover {
    background-color: var(--bg-hover);
    color: var(--text-hover);
    transition: 0.2s;
}

.logOut {
    height: 36px;
    width: 36px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    padding: 5%;
}

.logOut:hover {
    background-color: var(--bg-hover);
    color: var(--text-hover);
    transition: 0.2s;
}

.titleContainer {
    flex: 1;
    min-width: 0;
}

.binContainer {
    height: 36px;
    width: 36px;
    flex-shrink: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.binContainer:hover {
    background-color: rgba(224, 142, 142, 0.658);
    transition: 0.2s;
}

.binContainer:hover svg {
    stroke: red;
}

.binButton {
    height: 50%;
    width: 50%;
    color: gray;
}

.binButton:hover {
    color: rgba(255, 0, 0, 0.575);
}

.clipboard {
    height: 100%;
    width: 5%;
    color: #46a6f5;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.taskTitle {
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
    color: rgb(160, 158, 158);
    transition: 0.2s;
}

.taskStatusContainer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5%;
}

.taskStatus {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 18px;
}

.taskCount {
    background-color: #155efc1c;
    color: #155DFC;
}

.concludedTasks {
    background-color: #55a6611f;
    color: #55A661;
}

.pendingTasks {
    background-color: rgba(255, 182, 46, 0.13);
    color: #F54A00;
}

.taskStatusDiv {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 15px;
    box-shadow: var(--shadow-s);
}

.addButton {
    background-color: rgb(56, 118, 250);
    color: white;
}

.addButton:hover {
    background-color: rgb(42, 84, 173);
}

.statusText {
    font-family: "Roboto", sans-serif;
    cursor: default;
}