.container {
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    width: 50%;
    height: 70dvh;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.main {
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form {
    display: block;
}

.auth {
    display: block;
    width: 30%;
}

.btn {
    display: block;
    width: 100%;
    height: 70px;
}