.container {
    background-color: var(--bg);
    backdrop-filter: blur(10px);
    width: 50%;
    height: 70dvh;
    border-radius: 10px;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: var(--shadow-l);
}


.main {
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form {
    display: block;
}

.auth {
    display: block;
    width: 30%;
}

.btn {
    display: block;
    width: 100%;
    height: 70px;
}