.container {
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    width: 50%;
    height: 70dvh;
    border-radius: 10px;
    color: white;
}

.main {
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    display: flex;
}