@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
}

body {
    background: radial-gradient(#231f1f 0%, #000000 60%);
    background-size: cover;
    background-position: center;
}

input {
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    height: 35px;
    width: 60%;
    margin-top: 30px;
    padding: 10px;
    color: white;
}

input::placeholder {
    color: white;
}

button {
    background-color: transparent;
    backdrop-filter: blur(10px);
    height: 45px;
    width: 50%;
    padding: 10px;
    margin-top: 35px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}

button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.5s;
}

a {
    color: white;
}