@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bg-dark: oklch(0.1 0 264);
    --bg: oklch(0.2 0 264);
    --bg-light: oklch(0.3 0 264);

    --text: oklch(0.96 0 264);
    --text-muted: oklch(0.76 0 264);

    --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
    --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
    --shadow-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 10px #00000015;
}

* {
    font-family: "Ubuntu", sans-serif;
}

body {
    background: var(--bg-dark);
    background-size: cover;
    background-position: center;
}

input {
    border-radius: 5px;
    background-color: var(--bg-light);
    height: 35px;
    width: 60%;
    margin-top: 30px;
    padding: 10px;
    color: var(--text);
    box-shadow: var(--shadow-s);
    outline: none;
}

input::placeholder {
    color: var(--text-muted);
}

button {
    background-color: var(--bg-light);
    height: 45px;
    width: 50%;
    padding: 10px;
    margin-top: 35px;
    border-radius: 10px;
    color: var(--text);
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: var(--shadow-s)
}

button:hover {
    color: var(--bg-dark);
    background-color: white;
    border: 1px solid var(--bg-dark);
    transition: 0.5s;
}

a {
    color: var(--text);
}